<h2>You're currently logged in as {{ request.user }}.</h2>

<form action='/login/' method='post'>
  {% csrf_token %}
  <label for='username' >UserName:</label>
  <input type='text' name='user_name' id='username' maxlength="50" />
  </br>
  <label for='password' >Password:</label>
  <input type='password' name='password' id='password' maxlength="50" />
  </br>
  <input type='submit' name='Submit' value='Submit' />
</form>

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/register">Register</a></li>
  <li><a href="/login">Login</a></li>
  <li><a href="/logout">Logout</a></li>
  <li><a href="/products/">Go to All Products Page</a></li>
  <li><a href="/products/cart">Go to Cart</a></li>
</ul>