<h1>Cart page</h1>

<ul>
{% for order_item in order_items %}
<li>Catalogue number {{ order_item.id }}</li>
<li>{{ order_item.name }}</li>
<li>{{ order_item.description }}</li>
<li>${{ order_item.price }}</li>
<li><a href="/products/remove/{{ order_item.id }}">Remove from cart</a></li>
</br>
{% endfor %}
</ul>

<!--
	Could build in an if-else statement, such that if the cart is not empty, do the stuff above, else give them the option to go to the products page and buy some stuff.
-->

<h2>Total of cart: ${{ cart_total }}</h2>
<h3><a href="/products/cart/checkout">Proceed to Checkout</a></h3>

<ul>
	<li><a href="/">Home</a></li>
	<li><a href="/register">Register</a></li>
	<li><a href="/login">Login</a></li>
	<li><a href="/logout">Logout</a></li>
	<li><a href="/products/">Go to All Products Page</a></li>
	<li><a href="/products/cart">Go to Cart</a></li>
</ul>